<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomaskioko.podadddict.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".PodAddictApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.PodCastListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PodCastEpisodeActivity"
            android:label="@string/title_podcast_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.PodCastListActivity"
            android:theme="@style/AppTheme.Details">
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PodCastListActivity" />
        </activity>

        <activity android:name=".ui.NowPlayingActivity"
            android:parentActivityName=".ui.PodCastEpisodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PodCastListActivity" />
        </activity>

        <provider
            android:name=".data.provider.PodCastProvider"
            android:authorities="com.thomaskioko.podadddict"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's authentication service -->
        <service android:name=".data.sync.PodAddditctAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".data.sync.service.PodAdddictSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".service.PlayerWidgetService"
            android:enabled="true"
            android:exported="false" />

        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.PlayerWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- Broadcast Receiver that will also process our self created action -->
                <action android:name="com.thomaskioko.podadddict.app.ACTION_WIDGET_RECEIVER" />
                <action android:name="com.thomaskioko.podadddict.musicplayerlib.FORCE_WIDGET_UPDATE" />
                <action android:name="com.thomaskioko.podadddict.musicplayerlib.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/player_widget_info" />

            <intent-filter>
                <action android:name="com.thomaskioko.podadddict.musicplayerlib.STOP_WIDGET_UPDATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>