<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomaskioko.podadddict.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".PodAddictApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.PodCastListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PodCastEpisodeActivity"
            android:label="@string/title_podcast_detail"
            android:parentActivityName=".ui.PodCastListActivity"
            android:theme="@style/AppTheme.Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PodCastListActivity" />
        </activity>

        <provider
            android:name=".data.provider.PodCastProvider"
            android:authorities="com.thomaskioko.podadddict"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's authentication service -->
        <service android:name=".data.sync.PodAddditctAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".data.sync.service.PodAdddictSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>